.btn {
  display: block;
  width: 300px;
  height: 80px;
  line-height: 40px;
  border: 1px white solid;
  margin: 15px auto;
  margin-top: 100px;
  background-color: #ff5959;
  text-align: center;
  cursor: pointer;
  color: white;
  transition: all 1s, color 1s;
  font-size: 30px;
  font-weight: bold;
}
.btn:hover {
  color: #fff;
}
.hover1:hover {
  box-shadow: 400px 0 0 0 white inset;
  color: #ff5959;
  background-color: white;
  border: 1px solid #ff5959;
}

ul {
  list-style: none;
  margin: 0 0 20px;
  padding: 0;
}

li:not(:last-child) {
  margin-bottom: 5px;
}

label {
  display: flex;
  align-items: center;
}

input[type="radio"] {
  margin: 0 10px 0 0;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #adb5bd;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #ff5959;
  background-color: #e9ecef;
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: black;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.myClass div > a,
.myClass div > a:hover,
.myClass div > a:focus {
  color: black;
}
